/*
    Licensed Materials - Property of IBM
    5725-I43 (C) Copyright IBM Corp. 2013. All Rights Reserved.
    US Government Users Restricted Rights - Use, duplication or
    disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
/* this CSS file extends the application CSS file found under common\css */

/* body should stretch in an Android application */
body {
	height: auto;
	min-height: 100%;
	overflow: auto;
}

/*Worklight container div */
#content {
	height: auto;
	min-height: 100%;
	width: 100%;
}
