
/* Stylesheet content from css/SmallSample.css in folder common */
/*
    Licensed Materials - Property of IBM
    5725-I43 (C) Copyright IBM Corp. 2013. All Rights Reserved.
    US Government Users Restricted Rights - Use, duplication or
    disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
/* Reset CSS */
a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
	margin: 0;
	padding: 0;
}

/* Worklight container div */
#content {
	height: 460px;
	margin: 0 auto;
	width: 320px;
}
/* Stylesheet content from css/SmallSample.css in folder android */
/*
    Licensed Materials - Property of IBM
    5725-I43 (C) Copyright IBM Corp. 2013. All Rights Reserved.
    US Government Users Restricted Rights - Use, duplication or
    disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
*/
/* this CSS file extends the application CSS file found under common\css */

/* body should stretch in an Android application */
body {
	height: auto;
	min-height: 100%;
	overflow: auto;
}

/*Worklight container div */
#content {
	height: auto;
	min-height: 100%;
	width: 100%;
}
